<h2 mat-dialog-title>Register New Device</h2>
 <mat-dialog-content class="mat-typography">
  <form >
    <div class="form-group">
      <input
        [(ngModel)]="data.deviceName"
        class="form-control"
        placeholder="Name"
      />
    </div>

    <div class="form-group">
      <input
        [(ngModel)]="data.matricule"
        class="form-control"
        placeholder="Matricule"
      />
    </div>
    <div class="form-group">
      <input
        [(ngModel)]="data.deviceColor"
        class="form-control"
        placeholder="Color"
      />
    </div>
    <div class="form-group">
      <input
        [(ngModel)]="data.deviceType"
        class="form-control"
        placeholder="Type"
      />
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="addDevice()" class="btn btn-success">Add New</button>

  <button (click)="cancel()" text="center" class="btn btn-danger">
    Cancel
  </button>
</mat-dialog-actions> 
